header{
    height: 80px;
    background-color: aqua;
}

/* NAV-LEFT */
.nav-left{
    min-height: calc(100vh - 80px) ;
    width: 150px;
    background-color:#0F263D;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav-left a{
    text-decoration: none;
    color: white;
    line-height: 35px;
    margin-left: 10%;

}

/* NAV CENTER */
.central{
    height:100vh;
    width: 100vw;
    background-color:beige;
}
.nav-center{width: 100%;}

.students{
    height: 150px;
    background-color:#1B72E8;
    padding-right: 5%;
}

.nav-center button{
    border-radius:25px;
    background-color:#165BBA;
    height: 30px;
}

/* PROSSIME CLASSI */
.container-prossime-classi-and-faq{
width:60%;
background-color:aquamarine;
}

.table-container{
    border:1px solid silver;
}

.table-container h1,
.faq{
    background-color:rgb(232, 232, 232);
}

.class{
    padding-right: 150px;
}

/* FAQ */
.faq{
    margin-top: 5%;
}




